* {
    scrollbar-width: thin;
    scrollbar-color: #f2ecf0 #011a1b;
  }
  
  *::-webkit-scrollbar {
    width: 1rem;
  }
  
  *::-webkit-scrollbar-track {
    background: #f2ecf0;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #011a1b;
    border-radius: 20px;
    border: 3px solid #f2ecf0;
  }
  
  body::-webkit-scrollbar {
    width: 1rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #f2ecf0;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #011a1b;
    border-radius: 20px;
    border: 3px solid #f2ecf0;
  }


.where-to {
    background: url('images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.section {
    width: 100%;
    display: grid;
    justify-items: center;
}

.section-content {
    max-width: 900px;
}

.grid-container {
    display: grid;
    grid-gap: 16pt;
}

.grid-1-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.mobile-padding {
    padding-left: 0;
    padding-right: 0;
}

.orange-text {
    color: #eb6e4b;
}

.white-text {
    color: #ffffff !important;
}

.desktop-only {
    display: none;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
}

.invalid-feedback {
    display: none;
}